@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-right::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: right;
}
.placeholder-right::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
}
.placeholder-right:-ms-input-placeholder {
  /* IE 10+ */
  text-align: right;
}
.placeholder-right:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
